/backend/build
/backend/mysql
/backend/.gradle
/backend/.kotlin
.idea
/local-db/mysql/
/.idea/*
/.idea
.idea/*
:q
:
:::
.DS_Store
**/build
backend/**/bin
.envrc
local-db/minio/**

frontend/.yarn
frontend/.npm
admin-frontend/.yarn
admin-frontend/.npm

/terraform/envs/dev/.terraform.lock.hcl
/terraform/envs/stag/.terraform.lock.hcl
/terraform/envs/prod/.terraform.lock.hcl
/terraform/envs/global/vercel/.terraform.lock.hcl
/terraform/envs/dev/.terraform/**
/terraform/envs/prod/.terraform/**
/terraform/envs/stag/.terraform/**
/terraform/envs/global/vercel/.terraform/**

/node_modules/**

.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
